{% extends "base.html" %}

{% block konten %}
<h3>Kontak yang bisa dihubungi :</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ipsum eum totam repellendus ea quaerat. 
            Quaerat quis quae voluptatibus repellat aperiam! Doloremque, 
            tenetur esse. Quas, eos sit blanditiis placeat necessitatibus minima.</p>
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, 
            distinctio repudiandae vel placeat soluta quidem voluptas assumenda 
            enim velit veritatis amet culpa ea reprehenderit repellat consequatur 
            provident dolorem error aliquid!
            </p>  
{% endblock %}